In [4]:
#-*- coding: utf-8 -*-
%matplotlib inline
from matplotlib.font_manager import FontProperties  
import matplotlib.pyplot as plt  
import numpy as np
import pandas as pd
import os
plt.rcParams['font.sans-serif'] = ['SimHei'] #用来正常显示中文标签
plt.rcParams['axes.unicode_minus'] = False #用来正常显示负号

In [5]:
pieces=[]
columns=['ID','warning','empty_taxi','dome_light'
                        ,'elevated','brake','received_time','GPS_time','Longitude','Latitude','speed','direction','satellite']
for sample in range(4):
    path='/Users/ppj/Desktop/taxi_data/part-0000%d.csv' %sample
    frame=pd.read_csv(path,names=columns)
    pieces.append(frame)
taxi=pd.concat(pieces,ignore_index=True)

In [6]:
taxi.GPS_time=taxi.GPS_time.map(lambda x: x[11:])

In [7]:
taxi_mor=taxi[(taxi.GPS_time>='07:30:00')&(taxi.GPS_time<='09:30:00')]
taxi_even=taxi[(taxi.GPS_time>='16:30:00')&(taxi.GPS_time<='19:00:00')]
taxi_midnight=taxi[(taxi.GPS_time>='00:00:00')&(taxi.GPS_time<='04:00:00')]
taxi_other=taxi[((taxi.GPS_time>='04:00:00')&(taxi.GPS_time<='07:30:00'))+((taxi.GPS_time>='09:30:00')&(taxi.GPS_time<='12:30:00'))+
               ((taxi.GPS_time>='19:00:00')&(taxi.GPS_time<='23:59:59'))]

/Users/ppj/anaconda/lib/python2.7/site-packages/pandas/computation/expressions.py:181: UserWarning: evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead
  unsupported[op_str]))

In [9]:
names=['ID','empty_taxi','dome_light']
taxi_se=taxi.loc[:,names]
taxi_even_se=taxi_even.loc[:,names]
taxi_mor_se=taxi_mor.loc[:,names]
taxi_midnight_se=taxi_midnight.loc[:,names]
taxi_other_se=taxi_other.loc[:,names]

In [10]:
ID_unique=taxi_se.ID.unique()

In [11]:
def compute_rate(taxi_id):
    taxi_id_filter=taxi_id[taxi_id.empty_taxi==1][taxi_id.dome_light=='0']
    if len(taxi_id)>0:
        return float(len(taxi_id_filter))/len(taxi_id)
    else:
        return np.nan

In [12]:
def driver_refuse(taxi_id):
    taxi_id_se=taxi_se[taxi_se.ID==taxi_id]
    taxi_id_even=taxi_even_se[taxi_even_se.ID==taxi_id]
    taxi_id_mor=taxi_mor_se[taxi_mor_se.ID==taxi_id]
    taxi_id_midnight=taxi_midnight_se[taxi_midnight_se.ID==taxi_id]
    taxi_id_other=taxi_other_se[taxi_other_se.ID==taxi_id]
    collect_list=[taxi_id_se,taxi_id_even,taxi_id_mor,taxi_id_midnight,taxi_id_other]
    collect_end=[taxi_id]
    for x in collect_list:
        collect_end.append(compute_rate(x))
    return collect_end

In [13]:
driver_refuse(21510)

/Users/ppj/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

[21510,
 0.004866180048661801,
 0.0,
 0.0,
 0.015151515151515152,
 0.005076142131979695]

In [45]:
sample_list=[13468.0,15990.0,20227.0,25439,18204.0,21615,25242.0,25413.0,13411.0,11808]

In [14]:
collect_refuse=[]
for ID_time in ID_unique[0:]:
    collect_refuse.append(driver_refuse(ID_time))

/Users/ppj/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

In [15]:
driver_refuse_info=pd.DataFrame(collect_refuse,columns=['ID','total_refuse','evening_refuse','morning_refuse','midnight_refuse','other_refuse'])

In [16]:
driver_refuse_info.to_csv('driver_refuse_info.csv')

In [53]:
driver_refuse_info.set_index('ID').ix[sample_list].reset_index()

,ID,total_refuse,evening_refuse,morning_refuse,midnight_refuse,other_refuse
0,13468.0,0.000000,0.000000,0.00000,0.0,0.000000
1,15990.0,0.000000,0.000000,0.00000,0.0,0.000000
2,20227.0,0.000000,0.000000,0.00000,0.0,0.000000
3,25439.0,0.004640,0.000000,0.00000,0.0,0.004065
4,18204.0,0.000000,0.000000,0.00000,0.0,0.000000
5,21615.0,0.004454,0.000000,0.03125,0.0,0.004566
6,25242.0,0.000000,0.000000,0.00000,0.0,0.000000
7,25413.0,0.000000,0.000000,0.00000,0.0,0.000000
8,13411.0,0.000000,0.000000,0.00000,0.0,0.000000
9,11808.0,0.002183,0.016393,0.00000,0.0,0.000000

In [54]:
driver_refuse_info

,ID,total_refuse,evening_refuse,morning_refuse,midnight_refuse,other_refuse
0,18834,0.000000,0.000000,0.000000,0.0,0.000000
1,27320,0.000000,0.000000,0.000000,0.0,0.000000
2,16926,0.000000,0.000000,0.000000,0.0,0.000000
3,26337,0.000000,0.000000,0.000000,0.0,0.000000
4,23807,0.000000,0.000000,0.000000,0.0,0.000000
5,23390,0.000000,0.000000,0.000000,0.0,0.000000
6,10827,0.000000,0.000000,0.000000,NaN,0.000000
7,20043,0.000000,0.000000,0.000000,0.0,0.000000
8,49,0.000000,0.000000,0.000000,0.0,0.000000
9,21941,0.000000,0.000000,0.000000,0.0,0.000000
10,15042,0.000000,0.000000,0.000000,0.0,0.000000
11,27615,0.000000,0.000000,0.000000,0.0,0.000000
12,14891,0.000000,0.000000,0.000000,0.0,0.000000
13,14230,0.002410,0.000000,0.000000,0.0,0.004717
14,15990,0.000000,0.000000,0.000000,0.0,0.000000
15,17564,0.000000,0.000000,0.000000,0.0,0.000000
16,23395,0.000000,0.000000,0.000000,0.0,0.000000
17,21318,0.000000,0.000000,0.000000,0.0,0.000000
18,13411,0.000000,0.000000,0.000000,0.0,0.000000
19,18204,0.000000,0.000000,0.000000,0.0,0.000000
20,105,0.000000,0.000000,0.000000,0.0,0.000000
21,13468,0.000000,0.000000,0.000000,0.0,0.000000
22,20345,0.000000,0.000000,0.000000,0.0,0.000000
23,18043,0.000000,0.000000,0.000000,0.0,0.000000
24,16390,0.000000,0.000000,0.000000,0.0,0.000000
25,20227,0.000000,0.000000,0.000000,0.0,0.000000
26,21615,0.004454,0.000000,0.031250,0.0,0.004566
27,13253,0.002398,0.000000,0.000000,0.0,0.004854
28,26310,0.000000,0.000000,0.000000,0.0,0.000000
29,11874,0.002028,0.000000,0.025641,0.0,0.000000
30,25242,0.000000,0.000000,0.000000,0.0,0.000000
31,11808,0.002183,0.016393,0.000000,0.0,0.000000
32,16949,0.000000,0.000000,0.000000,0.0,0.000000
33,23629,0.000000,0.000000,0.000000,0.0,0.000000
34,15040,0.000000,0.000000,0.000000,0.0,0.000000
35,20098,0.000000,0.000000,0.000000,0.0,0.000000
36,20743,0.000000,0.000000,0.000000,0.0,0.000000
37,10558,0.004158,0.000000,0.000000,0.0,0.009174
38,20312,0.000000,0.000000,0.000000,0.0,0.000000
39,25567,0.000000,0.000000,0.000000,0.0,0.000000
40,16405,0.000000,0.000000,0.000000,0.0,0.000000
41,26857,0.000000,0.000000,0.000000,0.0,0.000000
42,25866,0.000000,0.000000,0.000000,0.0,0.000000
43,10353,0.000000,0.000000,0.000000,0.0,0.000000
44,15664,0.000000,0.000000,0.000000,0.0,0.000000
45,25413,0.000000,0.000000,0.000000,0.0,0.000000
46,17582,0.000000,0.000000,0.000000,0.0,0.000000
47,16034,0.000000,0.000000,0.000000,0.0,0.000000
48,25439,0.004640,0.000000,0.000000,0.0,0.004065
49,15482,0.000000,0.000000,0.000000,0.0,0.000000

In [18]:
len(taxi)

6011157